{% extends 'base.html' %}

{% block title %}
<title>Agente</title>
{% endblock title %}

{% block header %}
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Información del Agente</h1>
    </div>
</header>
{% endblock header %}


    



{% block body %}

<button>
    <a href={% url 'list_agent' %}>Volver</a>
</button>

<p>
    <ul>
        <li>
            {{agent.nickname}}
        </li>
        <li>
            {{agent.age}}
        </li>
        <li>
            {{agent.date}}
        </li>
    </ul>
</p>

{% endblock body %}
