{% extends 'base.html' %}

{% block title %}
<title>Editar persona</title>
{% endblock title %}

{% block header %}
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Editar personaje</h1>
    </div>
</header>
{% endblock header %}

{% block body %}

<p>
<<<<<<<< HEAD:templates/creation/edit.html
    <form action={% url 'edit' person.id %} method="post">
========
    <form action={% url 'edition' person.id %} method="post">
>>>>>>>> 84080a87746cc35ad4a147a52830f650716c3d50:templates/creation/edition.html
        {% csrf_token %}

        <table>
            {{form.media}}
            {{form.as_table}}
        </table>

        <button>Editar</button>
        
    </form>
</p>
<a href="{% url 'list' %}">Volver</a>
{% endblock body %}