{% extends 'base.html' %}

{% block title %}
<title>Perfil</title>
{% endblock title %}

{% block header %}
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Cuenta de:
            {{request.user.username}}
        </h1>
    </div>
</header>
{% endblock header %}

{% block body %}
<p>
    <ul>
        <li>Nombre: {{request.user.first_name}}</li>
        <li>Apellido: {{request.user.last_name}}</li>
        <li>Email: {{request.user.email}}</li>
        <li>
            <p>image de perfil:</p>
            {% if request.user.avatar.image %}
            <img src={{request.user.avatar.image.url}} alt="" height='100px'>
            {% endif %}
        </li>
    </ul>
</p>
<p>
    <a href="{% url 'edit_profile' %}">Editar datos</a>
</p>
{% endblock body %}