{% extends 'base.html' %}

{% block title %}
<title>Crear cuenta</title>
{% endblock title %}

{% block header %}
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Registro</h1>
    </div>
</header>
{% endblock header %}

{% block body %}

<p>
    <form action={% url 'register' %} method="post">
        {% csrf_token %}

        <table>
         {{form.as_table}}
        </table>

        <button>Crear cuenta</button>
        
    </form>
</p>
{% endblock body %}