{% extends 'base.html' %}


{% block title %}
<title>Monstruo</title>
{% endblock title %}


{% block header %}
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Información del Monstruo</h1>
    </div>
</header>
{% endblock header %}


{% block body %}
<button>
    <a href={% url 'list_monster' %}>Volver</a>
</button>
<p>
    <ul>
        <li>
            {{monster.nickname}}
        </li>
        <li>
            {{monster.age}}
        </li>
        <li>
            {{monster.date}}
        </li>
    </ul>
</p>
{% endblock body %}
