{% extends 'base.html' %}


{% block title %}
<title>Sobre nosotros</title>
{% endblock title %}


{% block header %}
<header class="bg-primary bg-gradient text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">SOBRE NOSOTROS</h1>
        <p class="lead">Una pequeña información sobre los integrantes que realizaron este proyecto</p>
    </div>
</header>
{% endblock header %}


{% block body %}
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Agustín Caballero</h2>
                <p>Templates, app /monsters, imagen de perfil o avatar, organizacion del proyecto en general, prueba y correccion final..</p>
                <h2>Agustín Santa María</h2>
                <p>Base del proyecto, app /creation, app /accounts, app /agent, verificacion y correccion de idioma.</p>
                <h2>Agustín Garcia</h2>
                <p></p>
                
                
            </div>
        </div>
    </div>
</section>
{% endblock body %}